@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

body{
    background-image: url(../img/galaxy-clock.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

.boxes{
    background-color:#e6e6ff;
    opacity:0.8;
    border-radius:8px;
    margin-top:50px;
    text-align:center;

}

#galaxyClock{
    border-bottom: thin dashed black;
}

#date{
    border-top: thin dashed black;
    margin-top: 10px;
}

.alarm_box{

}

.button{
    width: 90px;

}

