@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

body{
    background-image: url(../img/galaxy-clock.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.boxes {
    background-color:rgba(230, 230, 250, 0.8);
    border-radius: 8px;
    margin: 25px;
    text-align: center;
    padding: 15px;
}

.boxes h1,
.boxes h2 {
    margin-top: 0;
}

#galaxyClock{
    border-bottom: thin dashed black;
}

#date{
    border-top: thin dashed black;
}

#alarmName{
    width: 100px;
}

#listedAlarms{
    text-align: left;
}

.cancel-button {
    background-color: red;
    color: white;
    border-radius: 8px;
}

@media only screen and (max-width: 1239px){
    .alarm_box{
        height: 110px;
    }
}
@media only screen and (max-width: 850px){
    .alarm_box{
        height: 155px;
    }
}
@media only screen and (max-width: 660px){
    .alarm_box{
        height: 180px;
        font-size: 15px;
    }
    #alarmTime{
        width: 125px;
    }
}

.alarm_box2 {
    height: 80px;
    text-align: center;
    display: none;
}

.alarm_box2.show {
    display: block;
}

.button {
    background-color:#396069;
    border-radius: 8px;
}

