@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

body{
    background-image: url(../img/galaxy-clock.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.boxes{
    background-color:#e6e6ff;
    opacity: 0.8;
    border-radius: 8px;
    margin: 30px;
    text-align: center;
}

#galaxyClock{
    border-bottom: thin dashed black;
}

#date{
    border-top: thin dashed black;
}

.alarm_box{
    height: 80px;
}

.button{
    background-color:#396069;
    border-radius: 8px;
}

